<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
</head>
<body>
{% extends "Dashboard/Dashboard.html" %}
{% block content %}
<div style="font-size: 1.2em" class="h-100 w-75 row sunset">
        <div style="text-transform: uppercase" class="col-12 h1 text-center">Profil</div>
        <div class="col-12 d-flex flex-row mt-3">
            <div class="col-md-2">
                Imię:
            </div>
            <div style="text-transform: uppercase" id="firstname">
            </div>
        </div>
        <div class="col-12 d-flex flex-row mt-3">
            <div class="col-md-2">
                Nazwisko:
            </div>
            <div style="text-transform: uppercase" id="lastname">

            </div>
        </div>
        <div id="password_container" class="col-12 mt-3">
            Hasło: <input style="all: unset" type="password"
                          value="supersecretpassword" disabled>
            <button id="edit" class="btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#f6d8ae"
                     class="bi bi-pencil-fill" viewBox="0 0 16 16">
                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"></path>
                </svg>
            </button>
        </div>
        <div class="col-12 d-flex flex-row mt-3">
            <div class="col-md-4">
                Konto założone:
            </div>
            <div style="text-transform: uppercase" id="created_at">

            </div>
        </div>
        <div class="col-12 d-flex flex-row mt-3">
            <div class="col-md-4">
                Ostatnie logowanie:
            </div>
            <div style="text-transform: uppercase" id="last_login">

            </div>
        </div>
        <div class="col-12 d-flex flex-row mt-3">
            <div class="col-12 col-md-6">
                <form id="delete">
                    <button type="submit" class="btn btn-danger w-100">Usuń</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script type="module" src="{{ url_for('static',filename='/Dashboard/Profile/profile.js') }}"></script>
{% endblock %}
</body>
</html>